
/* Your CSS Code here. */
.moviePic{
	height:400px;
	width:300px;
	opacity:0.8;
}
.movieDetail{
	position:absolute;
	top:80%;
	width:400px;
	text-align:center;
	font-size:24px;
	background-color:black;
		color:white;
}